@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    font-family: 'Playfair Display';
}

#footer {
  background-image: ('picsFirstProject\photoshop\design-assets\bgk-footer.png') ;
} 

.container {
    display: inline-flex;
}

.box {

}

